name: Automated Data Preprocessing

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  preprocess:
    runs-on: ubuntu-latest

    steps:
    # 1. Checkout repository agar Actions bisa mengakses file
    - name: Checkout Repository
      uses: actions/checkout@v3

    # 2. Setup Python environment
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    # 3. Instal library yang dibutuhkan
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    # 4. Jalankan skrip preprocessing
    - name: Run Preprocessing Script
      run: python preprocessing/automate_Erza-Afrian-Fadillah.py

    # 5. Commit dan Push dataset hasil proses kembali ke repo
    - name: Commit and Push Processed Data
      run: |
        git config --global user.name "erzafrian"
        git config --global user.email "erzafadil@gmail.com"
        git add preprocessing/customer_behavior_preprocessing.csv
        git commit -m "Update processed dataset [automated]" || echo "No changes to commit"
        git push
